{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<img src="{{ asset('images/TT.jpg')}}" alt="TT" style="width:200px;">

<h1>Bonjour Mr Achref</h1>
<h2>La tache est terminer avec success !!! </h2>
<h2>Bravoooo </h2>
<h3>Date : {{ 'now'|date('h:i A') }}</h3>
{% endblock %}
